<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <p> This application demonstrate working of nunjucks for template rendering of email and html as well.
                for sending email we have used nodemailer this application is built in Nodejs using express. We have
                used sequelized ORM and Postgres database to store the data. Lorem Ipsum has been the industry's 
                text ever since the 1500s,It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing 
                software like Aldus PageMaker including versions of Lorem Ipsum!</p>

            <div class="text-center text-lg-start mt-4 pt-2">
                <a class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" href="/login/">login</a>

              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register/"
                  class="link-danger">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
      <!-- Right -->
    </div>
  </section>
