{% extends "views/index.html" %} 
{% block content %}
<div class="container pt-3">
    <h1>{{user}}</h1>

    <h1>{{home.user.name}}</h1>

    <br>
    <h2>Fill your data to unlock some perks</h2>
    {% if home.user %}
        <p>Hello {{ home.user.name}}</p>
        {% if home.user.isValidate %}
            <p>Email is verified</p>
        {% endif %}

        {% if not home.user.isValidate %}
            <p>Email is Not verified Check your email</p>
        {% endif %}
        
    {% endif %}



</div>
<br>
{% endblock %}